@media (prefers-reduced-motion: reduce) {
    img[src$='.gif'], video {
        display: none;
    }
  }
header {
    margin: 30px 10px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
body {
    background-color: black;
    color: white;
}
*:focus {
    border: solid #ffa500 2px;
    padding: 3px;
}
.skip {
    left:50%;
    position:absolute;
    transform:translateY(-500%)
}
.skip:focus {
    transform: translateY(0%);
    background-color: #000000;
}
.nav_list {
    text-align: center;
    margin: 0 auto;
}
.current_page {
    font-weight: bolder;
    border: solid #ffffff 1px;
    padding: 8px;
    margin: -8px;
}
.extra_space {
    margin-top: 30px;
}


main {
    margin: 10px 20px 40px 20px;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48pt;
    margin-top: 30px;
}
header h1 {
    text-align: center;
}

h2, h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lime;
    margin: 20px 0;
}

h2 {
    font-size: 32pt;
}

h3 {
    font-size: 24pt;
}

p {
    line-height: 20pt;
}

img, video {
    border: 5px solid cyan;
    border-radius: 0 30px 0 0;
    padding: 10px;
    margin: 10px auto;
    min-width: 100%;
    max-width: 100%;
}

li {
    display: inline-block;
    margin: 0 10px;
}

.description {
    background-color: #2B5ADB;
    border: solid #2B5ADB 1px;
    border-radius: 25px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10%;
}

.pet {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    grid-gap: 20px;
}
.pet .gallery {
    background-color: green;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
    width: 100%;
}
.description {
    background-color: #2B5ADB;
    border: solid #2B5ADB 1px;
    border-radius: 25px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10%;
}

.recipe {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10px 0;
    margin-bottom: 60px;
}